{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="./css/catalog.css"{% endblock %}

{% block body %}



<h1> rkjfdslkjflkdsjfl</h1>

{% endblock %}
