{% extends 'base.html.twig' %}

{% block title %}Fsoc.Lux' Home{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="./css/home.css"{% endblock %}

{% block body %}
<div class="sketchfab-embed-wrapper"> <iframe id="car3D" title="Alfa Romeo Giulia GTAm (low-poly)" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="1900" height="1200" src="https://sketchfab.com/models/bdcb47f5eaff43a694f954e2dde9d2d7/embed?autospin=0.2&autostart=1&ui_theme=dark"> </iframe> </div>

<script type="text/javascript" src="./js/index.js"> </script>
{% endblock %}
