@import url('https://fonts.googleapis.com/css?family=Rouge+Script|Lobster');

body {
    /** Variables Color*/
    --white : #ffffff;
    --black : #000000;
    --or : #9e821e;
    --grey : #171717;




    margin: 0;
    padding: 0;
    background-color: var(--black);
    font-family: 'Rouge Script';
	font-size:18px;
}

p{
	color: var(--white);
	font-size:1em;
}

h1,h2,h3,h4,h5,h6{
    color:var(--white);
    text-transform:uppercase;
}

nav {
	-webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
}

.navbar-brand {
	font-size:25px;
	font-family: 'Rouge Script';
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-brand  span{
	color: var(--or);
	font-size:25px;
	font-weight:700;
	letter-spacing:0.1em;
    font-family: 'Rouge Script';
}


.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1em!important;
	font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
	font-family: 'Rouge Script';
}
.navbar-nav .nav-item .nav-link:hover{color:var(--or);}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid var(--or);
}

.dropdown-item {
	background-color: var(--white);
	color:var(--black);
	font-size: 22px;
}
.dropdown-item:hover{
	background-color:var(--or);
	color: var(--white);
}


/* mobile view */
@media (max-width:500px)
{
	.navbar-nav{
		background-color:#000;
		border-top:3px solid var(--or);
		color:var(--white);
		z-index:1;
		margin-top:5px;
	}
	.navbar-nav .nav-item .nav-link{
		padding: 0.7em 1em!important;
		font-size: 100%;
		font-weight: 500;
    }
}
