<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./css/footer.css">


<p>Find us on social media</p>
<div class="social_links">
	<a href="https://www.instagram.com/developer_sah/">
		<span class="fa-stack fa-lg ig combo">
			<i class="fa fa-circle fa-stack-2x circle"></i>
			<i class="fa fa-instagram fa-stack-1x fa-inverse icon"></i>
		</span>
	</a>
	<a href="#">
		<span class="fa-stack fa-lg fb combo">
			<i class="fa fa-circle fa-stack-2x circle"></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse icon"></i>
		</span>
	</a>
	<a href="#">
		<span class="fa-stack fa-lg yt combo">
			<i class="fa fa-circle fa-stack-2x circle"></i>
			<i class="fa fa-youtube-play fa-stack-1x fa-inverse icon"></i>
		</span>
	</a>
	<a href="https://twitter.com/developer_sah">
		<span class="fa-stack fa-lg tw combo">
			<i class="fa fa-circle fa-stack-2x circle"></i>
			<i class="fa fa-twitter fa-stack-1x fa-inverse icon"></i>
		</span>
	</a>
	<a href="https://codepen.io/rahulsahofficial">
		<span class="fa-stack fa-lg gt combo">
			<i class="fa fa-circle fa-stack-2x circle"></i>
			<i class="fa fa-codepen fa-stack-1x fa-inverse icon"></i>
		</span>
	</a>
	<a href="https://www.linkedin.com/in/developersah/">
		<span class="fa-stack fa-lg tw combo">
			<i class="fa fa-circle fa-stack-2x circle"></i>
			<i class="fa fa-linkedin fa-stack-1x fa-inverse icon"></i>
		</span>
	</a>
</div>
